.card-list-content {
    padding-right: 160px;
}


/* .product-list-content {
    position: relative;
    padding-right: 120px;
} */


/* .credit-button {
    position: absolute;
    text-align: center;
    right: 10px;
    top: 10px;
} */

.mb31 {
    margin: 0;
}