.card-list-content {
    padding-right: 160px;
}


/* .product-list-content {
    position: relative;
    padding-right: 120px;
} */

.credit-button {
    /* position: absolute; */
    text-align: center;
    margin-top: 10px;
}

.credit-button button {
    width: 100%;
}

.card-img1 {
    margin-left: -8px;
}

.mb31 {
    margin: 0;
}